<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="client_id" value="432804608726876"/>
		<add key="client_secret" value="238353733e4793c0fc043a2df7318f2f"/>
		<add key="fb_token" value="EAAGJoiz111wBAHWUNjH1ZAF7rDEMqW2FI0ZAlZCriIUdIKbU1RET4KRNJ5fKQevORzBaNZAwbEQeQVTOiazqEvGpH74kZARUZAzHcv8S6yF6psOJs3sBnIixx4ldiwTWeHILWHYWQP7YsrFI7L64uWI0GoKtctpkLOPJvKoU4tgg8qdNfXEjVfibtbkZCIO3VrfNtdxj0SyAcaMs7qWvCM8heMW3wJZCB6QbpZBaFQVPh2pURzWTZCQTMq0Geq185kYaAZD"/>
		<add key="grant_type" value="fb_exchange_token"/>
		
	</appSettings>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>